h1 {
	font-family: Segoe UI;
	color: white;
	font-size: 300%


}
section {
	font-family: Segoe UI;
	background: green;
	color: yellow;
	padding-top: 7cm;


}


section table {
	color: green;
	background: yellow;


}

header {	background: green;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;

	





}

header h4 {
	text-align: left;
	

	}

div {font-family: Segoe UI;
	background: blue;
	color: white;
	background: red;
}
section

 <div>
    <div> <ul> <h3> Otras Promesas</h3>
        <li> <a href="Mbappe.html"> Kilyan Mbappé</a>
        </li>
    </ul>
</div>
  </div>







	
